@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  background: #fff;
}
html[data-theme='dark'] {
  background: #212121;
}

:root {
  --bg: #ffffff;
  --subtle: #666;
  --subtle-border: 1px solid #ccc;
  color: #000000;
  --fail: #b42626;
}

:root [data-theme='dark'] {
  --bg: #212121;
  --subtle-border: 1px solid #333;
  --subtle: #aaa;
  --fail: #dca4a4;
  color: #ffffff;
}

.subtle-border {
  border: var(--subtle-border);
}

.bg {
  background-color: var(--bg);
}

.custom-shadow-sm {
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

[data-theme='dark'] .custom-shadow-sm {
  box-shadow: 0px 0px 0px 1px #555;
}

.custom-shadow-md {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
[data-theme='dark'] .custom-shadow-md {
  box-shadow: 0px 0px 0px 1px #555;
}

.subtle-bg {
  background: #f9fafb;
}
[data-theme='dark'] .subtle-bg {
  background: #1f1f1f;
}

.strong-bg {
  background: #f3f4f6;
}
[data-theme='dark'] .strong-bg {
  background: #282828;
}

.full-opacity-on-hover-parent:hover .full-opacity-on-hover {
  opacity: 1 !important;
}
